body {
    background-color: lightblue;
    margin: auto;
    width:  1100px; 
    font-family: Consolas;
}

main {
    display: flex;
}

#Map {
    border: 1px solid black;
    border-radius: 8px;
    width: 722px;
    padding: 6px 10px; 
    background-color: #2a2a2a;
}

.MapRow{
    display: flex;
}

.MapGridTile {
    width: 36px;
    height: 36px;
}

.tile-wall {
    border: 1px solid black;
    background-image: url("Images/WallTile.gif");
}

.tile-space {
    border: 1px solid #2a2a2a; 
    background-color: #2a2a2a;
}

.tile-goal {
    border: 1px solid #2a2a2a;
    background-image: url("Images/GoalTile.gif");
}

.entity-block {
    border: 1px solid black;
    background-image: url("Images/BlockTile.gif");
}

.entity-player {
    border: 1px solid #2a2a2a;
    background-image: url("Images/Player.gif");
}

.entity-block-goal {
    border: 1px solid #2a2a2a;
    background-image: url("Images/BlockDoneTile.gif");
}

header {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: dodgerblue;
    height: 70px;
    border-radius: 8px;
    color: #FFFFFF;
}

#TopLeftHeaderCell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    height: 100%;
}

aside{
    border: 1px solid black;
    border-radius: 8px;
    width: 31%;
    padding: 5px 8px;
    background-color: #4285f4;
    color:white;
}

#PlayerStatsPanel {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 8px;
    background-color: #0066CC;
    display: flex;
    flex-direction: column;
    height: 265px;
}

#RestartButton {
    width: 30%;
    height: 25px;
    position: relative;
    left: 35%;
}
#ObjectivesPanel {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 8px;
    background-color: #0066CC;
/*
    display: flex;
    flex-direction: column;
*/
    height: 430px;
}

.TitleText {
    text-align: center;
    font-weight:bolder;
    border: 1px solid black;
    border-radius: 8px;
    background-color: dodgerblue;
    height: 30px;
}

.ObjectivesPanelImages {
    vertical-align: middle;
}

.ArrowKeysImage {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    background-color: dodgerblue;
    height: 50px;
    align-items: center;
    padding-left: 20px;
    color: #FFFFFF;
}

#MapCompletedAlertBox {
    position: fixed;
    top: 50px;
    left: 50px;
    border: 7px double white;
    border-radius: 8px;
    width: 600px;
    height: 265px;
    background-color: #0066CC;
    color: white;
    visibility: hidden;
    padding: 5px 8px;
    font-size: larger;
}

.TitleText2 {
    text-align: center;
    text-decoration: underline;
    font-weight:bolder;
}

#MapCompletedAlertBox_OKButton {
    position: relative;
    width: 20%;
    height: 30px;
    left: 40%;
    top: 20px;
}
